.portlet-cp-price-range-facets {
	.price-range-input-wrapper {
		margin-bottom: 0;
	}

	.price-range-seperator {
		margin: auto 0 !important;
	}

	.price-range-btn {
		height: 100%;
		margin-bottom: 0;
	}
}
