html#{$cadmin-selector} {
	.portlet {
		&:hover,
		&.open {
			> .cadmin.portlet-topper {
				z-index: 999;
			}
		}

		> .cadmin.portlet-topper {
			font-size: 13.92px;
			padding: 0 4px 0 8px;

			@include media-breakpoint-up(md) {
				display: block;
				white-space: nowrap;
			}

			@include media-breakpoint-up(sm) {
				right: auto;
			}

			.portlet-title-default {
				display: inline-block;
				line-height: 24px;
				vertical-align: middle;
			}

			.portlet-name-text {
				margin-right: 12px;
			}

			.portlet-topper-toolbar {
				display: inline-block;
				vertical-align: middle;
			}

			.portlet-topper-toolbar,
			.icon-monospaced {
				height: 24px;
				line-height: 24px;
				width: 24px;
			}

			.portlet-topper-toolbar .component-action {
				font-size: 14px;
				height: 24px;
				margin-top: -2px;
				width: 24px;
			}
		}
	}

	.portlet-dropzone {
		box-shadow: 0 0 0 1px transparent inset;
		transition: box-shadow 300ms ease-in-out;
		will-change: box-shadow;
	}

	.yui3-dd-drop-active-valid .portlet-dropzone {
		box-shadow: 0 0 0 1px rgba($cadmin-primary-d2, 0.2) inset;
	}

	.yui3-dd-drop-over .portlet-dropzone {
		box-shadow: 0 0 0 4px $cadmin-primary-d2 inset;
	}
}

.portlet-layout {
	.portlet {
		.management-bar,
		.navbar-underline {
			> .container-fluid-max-xl {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.portlet-title-text {
			color: map-get($theme-colors, secondary);
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 2.2;
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}
}

.portlet {
	> .portlet-topper {
		font-size: 0.87rem;
		padding: 0 4px 0 8px;

		@include media-breakpoint-up(md) {
			display: block;
			white-space: nowrap;
		}

		@include media-breakpoint-up(sm) {
			right: auto;
		}

		.portlet-title-default {
			display: inline-block;
			line-height: 1.5rem;
			vertical-align: middle;
		}

		.portlet-name-text {
			margin-right: 0.75rem;
		}

		.portlet-topper-toolbar {
			display: inline-block;
			vertical-align: middle;
		}

		.portlet-topper-toolbar,
		.icon-monospaced {
			height: 1.5rem;
			line-height: 1.5rem;
			width: 1.5rem;
		}

		.portlet-topper-toolbar .component-action {
			height: 1.5rem;
			width: 1.5rem;
		}

		.lexicon-icon {
			height: 0.875rem;
			width: 0.875rem;
		}
	}

	&:hover,
	&.open {
		> .portlet-topper {
			z-index: 999;
		}
	}
}

.portlet-dropzone {
	box-shadow: 0 0 0 1px transparent inset;
	transition: box-shadow 300ms ease-in-out;
	will-change: box-shadow;

	.yui3-dd-drop-active-valid & {
		box-shadow: 0 0 0 1px rgba($primary-d2, 0.2) inset;
	}

	.yui3-dd-drop-over & {
		box-shadow: 0 0 0 4px $primary-d2 inset;
	}
}
