@import 'variables/color_scheme';

@import 'variables/globals';

@import 'variables/alerts';
@import 'variables/badges';
@import 'variables/buttons';
@import 'variables/cards';
@import 'variables/custom_forms';
@import 'variables/custom_properties';
@import 'variables/dropdowns';
@import 'variables/forms';
@import 'variables/labels';
@import 'variables/links';
@import 'variables/loaders';
@import 'variables/modals';
@import 'variables/multi_step_nav';
@import 'variables/navs';
@import 'variables/stickers';
@import 'variables/tables';
@import 'variables/toggle_switch';

@import url('https://fonts.googleapis.com/css?family=Poppins');
