@import 'components/breadcrumb';
@import 'components/color';
@import 'components/commerce/index';
@import 'components/group-item';
@import 'components/info-panel';
@import 'components/navbars';
@import 'components/sidebar';
@import 'components/table';
@import 'components/widget';
@import 'portlet/portlet';
@import 'portlet/portlet_decorators';

@import 'custom_properties/custom_properties_set';

body {
	header {
		.field-wrapper {
			position: absolute;
			right: 4px;
			top: 2px;

			a {
				color: #fff;
			}
		}

		.field-wrapper,
		.form-group {
			margin-bottom: 0;
		}

		.portlet {
			margin-bottom: 0;

			&:hover {
				z-index: 1034;
			}
		}

		.search-input {
			font-size: 0.88rem;
			padding: 0.28rem 2rem 0.28rem 1rem;
		}

		.text-default {
			color: #6b6c7e;
			font-weight: 600;
		}

		.user-personal-bar {
			.fieldset {
				position: relative;
			}

			.user-avatar-link .panel-notifications-count {
				right: calc(100% - 0.75rem);
				top: -0.35rem;
			}
		}
	}

	.user-avatar-link {
		display: block;
		position: relative;

		.panel-notifications-count {
			display: block;
			margin: 0;
			max-width: none;
			position: absolute;
			right: calc(100% - 0.7rem);
			top: -0.4rem;
		}

		.text-default {
			align-items: center;
			display: flex;

			.user-full-name {
				margin-left: 0.5rem;

				@include media-breakpoint-down(xs) {
					display: none;
				}
			}
		}
	}
}

.btn-group + .info-panel {
	@include media-breakpoint-up(sm) {
		top: auto;
	}
}

#footer {
	color: #fff;
	margin-top: 1rem;

	> .container {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
}
