.navbar-top {
	padding-bottom: 0.907rem;
	padding-top: 0.907rem;

	.portlet {
		&:hover,
		&.open {
			z-index: 1035;
		}
	}
}

.navbar-blank {
	flex-wrap: wrap;

	.lexicon-icon {
		font-size: 0.625rem;
		margin: 0 0 0 0.25rem;
	}
}

.navbar-classic {
	background-color: #fff;

	&.navbar-light {
		border-bottom: 1px solid $secondary-l3;
	}

	.navbar-blank {
		@include media-breakpoint-down(xs) {
			margin-top: 1rem;
		}
	}

	.navbar-form {
		padding: 0;

		.field-wrapper {
			right: 0;
			top: 0;

			.lfr-icon-item {
				color: #6b6c7e;
			}
		}
	}

	.portlet-search-bar {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}

		.input-group-item {
			margin-left: 0;
		}
	}

	.logo:hover {
		text-decoration: none;
	}

	.navbar-nav {
		.nav-item:not(:last-of-type) {
			.nav-link {
				@include media-breakpoint-up(lg) {
					margin-right: 16px;
				}
			}
		}
	}

	.nav-link {
		color: #6b6c7e;
		font-size: 0.9375rem;
		font-weight: 600;
	}
}
