.widget-mode-detail {
	background-color: #fff;

	.title {
		color: $dark;
		font-weight: 700;
		line-height: 1.25;
	}

	.sub-title {
		color: #a0a1b0;
		font-weight: 400;
	}

	.widget-metadata {
		font-size: 0.875rem;

		.inline-item-before {
			margin-right: 1rem;
		}

		.username {
			color: $dark;
			font-weight: 600;
			line-height: 2;
		}
	}

	.aspect-ratio {
		padding-bottom: 480px;
	}
}

.widget-mode-card {
	.card {
		border-radius: 8px;
	}

	.card-header {
		border-radius: 8px 8px 0 0;
	}

	.card-body {
		padding: 24px;
	}

	.widget-topbar {
		.title-link {
			color: $dark;
		}

		.title {
			font-size: 1.5rem;
			font-weight: 700;
			margin-right: 24px;
		}
	}

	.widget-metadata {
		font-size: 0.875rem;
		margin-bottom: 16px;

		.inline-item-before {
			margin-right: 1rem;
		}

		.username {
			color: $dark;
			font-weight: 600;
		}
	}

	.widget-resume {
		font-size: 15px;
		line-height: 1.6;
		margin-bottom: 0;
	}

	.card-footer {
		background-color: transparent;
		padding: 0 1rem 1rem;
	}

	.widget-toolbar {
		border-top: 1px solid $secondary-l3;
		padding-top: 8px;
	}
}

.widget-mode-simple {
	.widget-mode-simple-entry:not(:last-child) {
		border-bottom: 1px solid $secondary-l3;
		margin-bottom: 24px;
		padding-bottom: 24px;
	}

	.widget-topbar {
		.title-link {
			color: $dark;
		}

		.title {
			font-size: 1.75rem;
			font-weight: 700;
		}
	}

	.widget-metadata {
		font-size: 0.875rem;

		.inline-item-before {
			margin-right: 1rem;
		}

		.username {
			color: $dark;
			font-weight: 600;
		}
	}
}

.widget-toolbar {
	.autofit-col:first-of-type > .btn-outline-borderless {
		margin-left: -0.75rem;
	}
}
