// variables


// -------------------------------------------------------------------
// COLORS

// neutral (grays)
$neutral-default: #3A4747;
$neutral-00: #FFFFFF;
$neutral-01: #F8F8F8;
$neutral-02: #DCDFDF;
$neutral-03: #C1C6C6;
$neutral-04: #A6ACAC;
$neutral-05: #8B9393;
$neutral-06: #707A7A;
$neutral-07: #556161;
$neutral-08: #3A4747;
$neutral-09: #1F2E2E;
$neutral-10: #041515;

// primary
$brand-primary: #1D8C8C;
$brand-primary-darken-1: #177272;
$brand-primary-darken-2: #135D5D;
$brand-primary-darken-3: #0E4444;
$brand-primary-darken-4: #092F2F;
$brand-primary-darken-5: #041515;
$brand-primary-lighten-1: #419F9F;
$brand-primary-lighten-2: #64AFAF;
$brand-primary-lighten-3: #88C3C3;
$brand-primary-lighten-4: #AAD4D4;
$brand-primary-lighten-5: #D0E7E7;
$brand-primary-lighten-6: #F5FAFA;

// secondary
$brand-secondary: #D79839;
$brand-secondary-darken-1: #C18933;
$brand-secondary-darken-2: #AD7A2E;
$brand-secondary-darken-3: #956928;
$brand-secondary-darken-4: #815B22;
$brand-secondary-darken-5: #6D4D1D;
$brand-secondary-lighten-1: #DDA95A;
$brand-secondary-lighten-2: #E4B877;
$brand-secondary-lighten-3: #EACA99;
$brand-secondary-lighten-4: #F1D9B7;
$brand-secondary-lighten-5: #F7EBD9;

// info
$status-info: #0068B8;
$status-info-lighten-1: #73ACD8;
$status-info-lighten-2: #E6F0F8;
$status-info-darken-1: #004981;
$status-info-darken-2: #002A4A;

// success
$status-success: #179C17;
$status-success-lighten-1: #7FC97F;
$status-success-lighten-2: #E8F5E8;
$status-success-darken-1: #106D10;
$status-success-darken-2: #093E09;

// warning
$status-warning: #ED6418;
$status-warning-lighten-1: #F5AA80;
$status-warning-lighten-2: #FDF0E8;
$status-warning-darken-1: #A64611;
$status-warning-darken-2: #5F280A;

// error
$status-error: #ED0040;
$status-error-lighten-1: #F57396;
$status-error-lighten-2: #FDE6EC;
$status-error-darken-1: #A6002D;
$status-error-darken-2: #5F001A;


// -------------------------------------------------------------------
// TYPOGRAPHY

// heading shared
$headings-weight: 400;
$headings-line-h: 40px;


// h1
$h1-size: 36px;

// h2
$h2-size: 32px;

// h3
$h3-size: 28px;

// h4
$h4-size: 24px;

// h5
$h5-size: 20px;

// h6
$h6-size: 16px;


$action-primary-default: #187474;
$action-primary-hover: #1A8080;
$action-primary-active: #1D8C8C;
$action-primary-disabled: #8BB9B9;
$action-primary-hover-lighten: #E8F1F1;

$action-primary-inverted: #FFFFFF;
$action-primary-inverted-hover: rgba(255,255,255, 0.10);
$action-primary-inverted-active: rgba(255,255,255, 0.20);
$action-primary-inverted-disabled: rgba(255,255,255, 0.50);

$action-secondary-default: #A14D4D;
$action-secondary-hover: #944747;
$action-secondary-active: #874141;
$action-secondary-disabled: #D0A6A6;
$action-secondary-hover-lighten: #F6EDED;

$action-secondary-inverted: #FFFFFF;
$action-secondary-inverted-hover: rgba(255,255,255, 0.10);
$action-secondary-inverted-active: rgba(255,255,255, 0.20);
$action-secondary-inverted-disabled: rgba(255,255,255, 0.50);

$action-neutral-default: #3A4747;
$action-neutral-hover: #455454;
$action-neutral-active: #4F6161;
$action-neutral-disabled: #9CA3A3;
$action-neutral-hover-lighten: #EBEDED;

$action-neutral-inverted: #FFFFFF;
$action-neutral-inverted-hover: rgba(255,255,255, 0.10);
$action-neutral-inverted-active: rgba(255,255,255, 0.20);
$action-neutral-inverted-disabled: rgba(255,255,255, 0.50);

$accent-1: #FFB743;
$accent-2: #ED915E;
$accent-3: #266799;
$accent-4: #525287;
$accent-5: #7A947A;

$accent-lighten-1: #FFF3E5;
$accent-lighten-2: #FCF2ED;
$accent-lighten-3: #F0F7FC;
$accent-lighten-4: #EFEFFA;
$accent-lighten-5: #E9F0E9;

$status-neutral: #8B9393;
$status-neutral-lighten-1: #C1C6C6;
$status-neutral-lighten-2: #DCDFDF;
$status-neutral-darken-1: #707A7A;
$status-neutral-darken-2: #556161;

$charts-chart-1: #1D8C8C;
$charts-chart-2: #F7BFB6;
$charts-chart-3: #ACD5D5;
$charts-chart-4: #A14D4D;
$charts-chart-5: #0D3E64;
