$clay-unset: clay-unset !default;
$c-unset: $clay-unset !default;

@import 'clarity_variables';

// Theme Base Colors

$white: var(--white);
$gray-100: $neutral-01;
$gray-200: $neutral-02;
$gray-300: $neutral-03;
$gray-400: $neutral-04;
$gray-500: $neutral-05;
$gray-600: $neutral-06;
$gray-700: $neutral-07;
$gray-800: $neutral-08;
$gray-900: $neutral-09;
$black: $neutral-10;

$primary: $brand-primary; // var(--brand-primary);
$primary-d1: $brand-primary-darken-1;
$primary-d2: $brand-primary-darken-2;
$primary-l1: $brand-primary-lighten-1;
$primary-l2: $brand-primary-lighten-2;
$primary-l3: $brand-primary-lighten-3;

$secondary: $brand-secondary;
$secondary-d1: $brand-primary-darken-1;
$secondary-d2: $brand-secondary-darken-2;
$secondary-l1: $brand-secondary-lighten-1;
$secondary-l2: $brand-secondary-lighten-2;
$secondary-l3: $brand-secondary-lighten-3;

$info: $status-info;
$info-d1: $status-info-darken-1;
$info-d2: $status-info-darken-2;
$info-l1: $status-info-lighten-1;
$info-l2:  $status-info-lighten-2;

$success: $status-success;
$success-d1: $status-success-darken-1;
$success-d2: $status-success-darken-2;
$success-l1: $status-success-lighten-1;
$success-l2: $status-success-lighten-2;

$warning: $status-warning;
$warning-d1: $status-warning-darken-1;
$warning-d2: $status-warning-darken-2;
$warning-l1: $status-warning-lighten-1;
$warning-l2: $status-warning-lighten-2;

$danger: $status-error;
$danger-d1: $status-error-darken-1;
$danger-d2: $status-error-darken-2;
$danger-l1: $status-error-lighten-1;
$danger-l2: $status-error-lighten-2;

// Fonts

// Fonts

$moz-osx-font-smoothing: null !default;
$webkit-font-smoothing: null !default;

$font-import-url: null !default;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
'Liberation Mono', 'Courier New', monospace !default;

$font-family-base: $font-family-sans-serif !default;

$font-scale: () !default;
$font-scale: map-merge(
                (
                        1: 0.625rem,
                        2: 0.75rem,
                        3: 0.875rem,
                        4: 1rem,
                        5: 1.125rem,
                        6: 1.25rem,
                        7: 1.5rem,
                        8: 1.75rem,
                        9: 2rem,
                        10: 2.25rem,
                        11: 2.5rem,
                ),
                $font-scale
);

$font-size-base: 16px; /*map-get($font-scale, 4) !default;*/
$font-size-lg: map-get($font-scale, 6) !default;
$font-size-sm: map-get($font-scale, 3) !default;

$font-size-base-mobile: $font-size-base !default;
$font-size-lg-mobile: $font-size-lg !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 900 !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;

$h1-font-size: $h1-size;
$h2-font-size: $h2-size;
$h3-font-size: $h3-size;
$h4-font-size: $h4-size;
$h5-font-size: $h5-size;
$h6-font-size: $h6-size;

$headings-font-weight: $headings-weight;
$headings-line-height: $headings-line-h;

// Reusable Values

$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;

$border-color: $gray-300 !default;
$border-width: 0.0625rem !default;

$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;

// Grid

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

// Grid columns

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-row-columns: 6 !default;
