$dialect-custom-properties: (
	--color-accent-1-lighten: #FFF3E5,
	--color-accent-1: #FFB743,
	--color-accent-2-lighten: #FCF2ED,
	--color-accent-2: #ED915E,
	--color-accent-3-lighten: #F0F7FC,
	--color-accent-3: #266799,
	--color-accent-4-lighten: #EFEFFA,
	--color-accent-4: #525287,
	--color-accent-5-lighten: #E9F0E9,
	--color-accent-5: #7A947A,
	--color-accent-6-lighten: #FAE8EF,
	--color-accent-6: #C42F57,
	--color-action-neutral-active-lighten: #D8DADA,
	--color-action-neutral-active: #4F6161,
	--color-action-neutral-default: #3A4747,
	--color-action-neutral-disabled: #9BA59C,
	--color-action-neutral-hover-lighten: #EBEDED,
	--color-action-neutral-hover: #455454,
	--color-action-neutral-inverted-active: #FFFFFF,
	--color-action-neutral-inverted-disabled: #FFFFFF,
	--color-action-neutral-inverted-hover: #FFFFFF,
	--color-action-neutral-inverted: #FFFFFF,
	--color-action-primary-active-lighten: #D1E3E3,
	--color-action-primary-active: #1D8C8C,
	--color-action-primary-default: #187474,
	--color-action-primary-disabled: #8BB9B9,
	--color-action-primary-hover-lighten: #E8F1F1,
	--color-action-primary-hover: #187474,
	--color-action-primary-inverted-active: #FFFFFF,
	--color-action-primary-inverted-disabled: #FFFFFF,
	--color-action-primary-inverted-hover: #FFFFFF,
	--color-action-primary-inverted: #FFFFFF,
	--color-action-secondary-active-lighten: #ECDBDB,
	--color-action-secondary-active: #874141,
	--color-action-secondary-default: #A14D4D,
	--color-action-secondary-disabled: #D0A6A6,
	--color-action-secondary-hover-lighten: #F6EDED,
	--color-action-secondary-hover: #944747,
	--color-action-secondary-inverted-active: #FFFFFF,
	--color-action-secondary-inverted-disabled: #FFFFFF,
	--color-action-secondary-inverted-hover: #FFFFFF,
	--color-action-secondary-inverted: #FFFFFF,
	--color-brand-primary-darken-1: #177272,
	--color-brand-primary-darken-2: #135D5D,
	--color-brand-primary-darken-3: #0E4444,
	--color-brand-primary-darken-4: #092F2F,
	--color-brand-primary-darken-5: #041515,
	--color-brand-primary-lighten-1: #419F9F,
	--color-brand-primary-lighten-2: #64AFAF,
	--color-brand-primary-lighten-3: #88C3C3,
	--color-brand-primary-lighten-4: #AAD4D4,
	--color-brand-primary-lighten-5: #D0E7E7,
	--color-brand-primary-lighten-6: #F5FAFA,
	--color-brand-primary: #1D8C8C,
	--color-brand-secondary-darken-1: #C18933,
	--color-brand-secondary-darken-2: #AD7A2E,
	--color-brand-secondary-darken-3: #956928,
	--color-brand-secondary-darken-4: #815B22,
	--color-brand-secondary-darken-5: #6D4D1D,
	--color-brand-secondary-lighten-1: #DDA95A,
	--color-brand-secondary-lighten-2: #E4B877,
	--color-brand-secondary-lighten-3: #EACA99,
	--color-brand-secondary-lighten-4: #F1D9B7,
	--color-brand-secondary-lighten-5: #F7EBD9,
	--color-brand-secondary-lighten-6: #FDFBF7,
	--color-brand-secondary: #D79839,
	--color-chart-1: #1D8C8C,
	--color-chart-2: #F7BFB6,
	--color-chart-3: #ACD5D5,
	--color-chart-4: #A14D4D,
	--color-chart-5: #0D3E64,
	--color-focus: var(--color-brand-primary-lighten-3),
	--color-neutral-0: #FFFFFF,
	--color-neutral-1: #F8F8F8,
	--color-neutral-2: #DCDFDF,
	--color-neutral-3: #A6ACAC,
	--color-neutral-4: #A6ACAC,
	--color-neutral-5: #8B9393,
	--color-neutral-6: #707A7A,
	--color-neutral-7: #556161,
	--color-neutral-8: #3A4747,
	--color-neutral-9: #1F2E2E,
	--color-neutral-10: #041515,
	--color-state-error-darken-1: #A6002D,
	--color-state-error-darken-2: #5F001A,
	--color-state-error-lighten-1: #F57396,
	--color-state-error-lighten-2: #FDE6EC,
	--color-state-error: #ED0040,
	--color-state-info-darken-1: #004981,
	--color-state-info-darken-2: #002A4A,
	--color-state-info-lighten-1: #73ACD8,
	--color-state-info-lighten-2: #E6F0F8,
	--color-state-info: #0068B8,
	--color-state-success-darken-1: #106D10,
	--color-state-success-darken-2: #093E09,
	--color-state-success-lighten-1: #7FC97F,
	--color-state-success-lighten-2: #E8F5E8,
	--color-state-success: #179C17,
	--color-state-warning-darken-1: #A64611,
	--color-state-warning-darken-2: #5F280A,
	--color-state-warning-lighten-1: #F5AA80,
	--color-state-warning-lighten-2: #FDF0E8,
	--color-state-warning: #ED6418,
	--color-state-neutral-darken-1: #707A7A,
	--color-state-neutral-darken-2: #556161,
	--color-state-neutral-lighten-1: #C1C6C6,
	--color-state-neutral-lighten-2: #DCDFDF,
	--color-state-neutral: #8B9393,
);