
$dialect-custom-properties: (
	--color-accent-1-lighten: #FFEAEF,
	--color-accent-1: #E06E89,
	--color-accent-2-lighten: #EDF2E1,
	--color-accent-2: #94AC62,
	--color-accent-3-lighten: #E1E9F5,
	--color-accent-3: #60789C,
	--color-accent-4-lighten: #E1EEF5,
	--color-accent-4: #77A7C2,
	--color-accent-5-lighten: #f6daff,
	--color-accent-5: #bc24eb,
	--color-accent-6-lighten: #defff7,
	--color-accent-6: #1ce4b5,
	--color-action-neutral-active-lighten: #D5DBD5,
	--color-action-neutral-active: #606B61,
	--color-action-neutral-default: #444B44,
	--color-action-neutral-disabled: #9BA59C,
	--color-action-neutral-hover-lighten: #EAEDEA,
	--color-action-neutral-hover: #525B52,
	--color-action-neutral-inverted-disabled: #FFFFFF80,
	--color-action-neutral-inverted-hover: #FFFFFF1A,
	--color-action-neutral-inverted: #FAF8F1,
	--color-action-primary-active-lighten: #F1E2CF,
	--color-action-primary-active: #E8D0B3,
	--color-action-primary-default: #D6AC79,
	--color-action-primary-disabled: #F1E2CF,
	--color-action-primary-hover-lighten: #F9F3EC,
	--color-action-primary-hover: #DFBE96,
	--color-action-primary-inverted-disabled: #FFFFFF80,
	--color-action-primary-inverted-hover: #FFFFFF1A,
	--color-action-primary-inverted: #1C221C,
	--color-action-secondary-active-lighten: #D3DAD3,
	--color-action-secondary-active: #3E5640,
	--color-action-secondary-default: #3E5640,
	--color-action-secondary-disabled: #9EAE9F,
	--color-action-secondary-hover-lighten: #EDF0EE,
	--color-action-secondary-hover: #466148,
	--color-action-secondary-inverted-disabled: #FFFFFF80,
	--color-action-secondary-inverted-hover: #FFFFFF1A,
	--color-action-secondary-inverted: #FAF8F1,
	--color-brand-primary-darken-1: #B17B3A,
	--color-brand-primary-darken-2: #9E6E33,
	--color-brand-primary-darken-3: #8A602D,
	--color-brand-primary-darken-4: #765226,
	--color-brand-primary-darken-5: #634520,
	--color-brand-primary-lighten-1: #CE9B5D,
	--color-brand-primary-lighten-2: #D6AC79,
	--color-brand-primary-lighten-3: #DFBE96,
	--color-brand-primary-lighten-4: #E8D0B3,
	--color-brand-primary-lighten-5: #F1E2CF,
	--color-brand-primary-lighten-6: #F9F3EC,
	--color-brand-primary: #C58940,
	--color-brand-secondary-darken-1: #466148,
	--color-brand-secondary-darken-2: #3E5640,
	--color-brand-secondary-darken-3: #374C38,
	--color-brand-secondary-darken-4: #2F4130,
	--color-brand-secondary-darken-5: #273628,
	--color-brand-secondary-lighten-1: #69826A,
	--color-brand-secondary-lighten-2: #839885,
	--color-brand-secondary-lighten-3: #9EAE9F,
	--color-brand-secondary-lighten-4: #B8C4B9,
	--color-brand-secondary-lighten-5: #D3DAD3,
	--color-brand-secondary-lighten-6: #EDF0EE,
	--color-brand-secondary: #4E6C50,
	--color-focus: var(--color-brand-secondary-lighten-3),
	--color-neutral-0: #fff,
	--color-neutral-10: #1C221C,
	--color-neutral-1: #F7F8F7,
	--color-neutral-2: #EEF1EE,
	--color-neutral-3: #DBE1DB,
	--color-neutral-4: #A2B3A4,
	--color-neutral-5: #819882,
	--color-neutral-6: #6A816B,
	--color-neutral-7: #556856,
	--color-neutral-8: #3E4C3F,
	--color-neutral-9: #435144,
	--color-state-error-darken-1: #9D1D0B,
	--color-state-error-darken-2: #691308,
	--color-state-error-lighten-1: #E6887B,
	--color-state-error-lighten-2: #FBE8E8,
	--color-state-error: #D1260F,
	--color-state-info-darken-1: #2F4477,
	--color-state-info-darken-2: #202D4F,
	--color-state-info-lighten-1: #95A4CA,
	--color-state-info-lighten-2: #EAEFF7,
	--color-state-info: #3F5A9E,
	--color-state-success-darken-1: #376C3B,
	--color-state-success-darken-2: #254827,
	--color-state-success-lighten-1: #9BC29E,
	--color-state-success-lighten-2: #EDF4ED,
	--color-state-success: #49904E,
	--color-state-warning-darken-1: #9D5B0B,
	--color-state-warning-darken-2: #693D08,
	--color-state-warning-lighten-1: #E6B57B,
	--color-state-warning-lighten-2: #FCF0E6,
	--color-state-warning: #D1790F
);