$dialect-custom-properties: () !default;
$dialect-custom-properties: map-deep-merge(
	(
		--aspect-ratio-1: 100%,
		--aspect-ratio-2: calc(3 / 4 * 100%),
		--aspect-ratio-3: calc(2 / 3 * 100%),
		--aspect-ratio-4: calc(5 / 8 * 100%),
		--aspect-ratio-5: calc(9 / 16 * 100%),
		--aspect-ratio-6: calc(1 / 2 * 100%),
		--blockquote-font-size: 1.25rem,
		--blockquote-small-color: var(--color-neutral-6),
		--blockquote-small-font-size: 80%,
		--body-bg: var(--color-neutral-0),
		--body-color: var(--color-neutral-9),
		--border-radius-circle: 50%,
		--border-radius-lg: 0.75rem,
		--border-radius-pill: 50rem,
		--border-radius-sm: 0.375rem,
		--border-radius-xl: 1rem,
		--border-radius-xs: 0.25rem,
		--border-radius-xxl: 1.5rem,
		--border-radius: 0.5rem,
		--box-shadow-lg: var(--elevation-fluffy-3) rgba(0, 0, 0, .175),
		--box-shadow-sm: var(--elevation-tight-1) rgba(0, 0, 0, .075),
		--box-shadow: var(--elevation-tight-3) rgba(0, 0, 0, .15),
		--btn-border-radius: var(--border-radius-sm),
		--btn-border-width: 0.0625rem,
		--btn-font-size: 1rem,
		--btn-font-weight: var(--font-weight-semi-bold),
		--btn-inline-item-font-size: var(--btn-font-size),
		--btn-inline-item-spacer-x: var(--spacer-1),
		--btn-lg-border-radius: var(--border-radius),
		--btn-lg-font-size: 1.125rem,
		--btn-lg-inline-item-font-size: var(--btn-lg-font-size),
		--btn-lg-line-height: 1.5rem,
		--btn-lg-padding-x: 1.125rem,
		--btn-lg-padding-y: 0.875rem,
		--btn-line-height: 1.5rem,
		--btn-padding-x: 1rem,
		--btn-padding-y: 0.75rem,
		--btn-sm-border-radius: var(--border-radius-xs),
		--btn-sm-font-size: 0.875rem,
		--btn-sm-inline-item-font-size: var(--btn-sm-font-size),
		--btn-sm-line-height: 1rem,
		--btn-sm-padding-x: 0.75rem,
		--btn-sm-padding-y: 0.5rem,
		--card-aspect-ratio-item-offset: var(--spacer-5),
		--card-autofit-col-lg-width: 24rem,
		--card-autofit-col-md-width: 16rem,
		--card-autofit-col-sm-width: 8rem,
		--card-body-padding-bottom: var(--spacer-5),
		--card-body-padding-left: var(--spacer-5),
		--card-body-padding-right: var(--spacer-5),
		--card-body-padding-top: var(--spacer-3),
		--card-border-radius: var(--border-radius),
		--card-elevated-background-color-active: var(--color-neutral-0),
		--card-elevated-background-color-hover: var(--color-neutral-0),
		--card-elevated-background-color: var(--color-neutral-0),
		--card-elevated-border-color-active: transparent,
		--card-elevated-border-color-hover: transparent,
		--card-elevated-border-color: transparent,
		--card-elevated-border-width: 0rem,
		--card-elevated-box-shadow-active: var(--elevation-tight-3) rgba(89, 36, 235, 0.22),
		--card-elevated-box-shadow-hover: var(--elevation-tight-7) rgba(89, 36, 235, 0.17),
		--card-elevated-box-shadow: var(--elevation-tight-3) rgba(89, 36, 235, 0.22),
		--card-flat-background-color-active: var(--color-neutral-1),
		--card-flat-background-color-hover: var(--color-neutral-1),
		--card-flat-background-color: var(--color-neutral-1),
		--card-flat-border-color-active: var(--color-action-primary-active),
		--card-flat-border-color-hover: var(--color-action-primary-hover),
		--card-flat-border-color: var(--color-neutral-1),
		--card-flat-border-width: 0.0625rem,
		--card-flat-box-shadow-active: none,
		--card-flat-box-shadow-hover: none,
		--card-flat-box-shadow: none,
		--card-horizontal-aspect-ratio-default: var(--aspect-ratio-1),
		--card-outlined-background-color-active: var(--color-neutral-0),
		--card-outlined-background-color-hover: var(--color-neutral-0),
		--card-outlined-background-color: var(--color-neutral-0),
		--card-outlined-border-color-active: var(--color-action-primary-active),
		--card-outlined-border-color-hover: var(--color-action-primary-hover),
		--card-outlined-border-color: var(--color-neutral-3),
		--card-outlined-border-width: 0.0625rem,
		--card-outlined-box-shadow-active: none,
		--card-outlined-box-shadow-hover: none,
		--card-outlined-box-shadow: none,
		--card-vertical-aspect-ratio-default: var(--aspect-ratio-3),
		--color-accent-1-lighten: #FFF3E5,
		--color-accent-1: #FFB743,
		--color-accent-2-lighten: #FCF2ED,
		--color-accent-2: #ED915E,
		--color-accent-3-lighten: #F0F7FC,
		--color-accent-3: #266799,
		--color-accent-4-lighten: #EFEFFA,
		--color-accent-4: #525287,
		--color-accent-5-lighten: #E9F0E9,
		--color-accent-5: #7A947A,
		--color-accent-6-lighten: #FAE8EF,
		--color-accent-6: #C42F57,
		--color-action-neutral-active-lighten: #D8DADA,
		--color-action-neutral-active: #4F6161,
		--color-action-neutral-default: #3A4747,
		--color-action-neutral-disabled: #9BA59C,
		--color-action-neutral-hover-lighten: #EBEDED,
		--color-action-neutral-hover: #455454,
		--color-action-neutral-inverted-active: #FFFFFF,
		--color-action-neutral-inverted-disabled: #FFFFFF,
		--color-action-neutral-inverted-hover: #FFFFFF,
		--color-action-neutral-inverted: #FFFFFF,
		--color-action-primary-active-lighten: #D1E3E3,
		--color-action-primary-active: #1D8C8C,
		--color-action-primary-default: #187474,
		--color-action-primary-disabled: #8BB9B9,
		--color-action-primary-hover-lighten: #E8F1F1,
		--color-action-primary-hover: #187474,
		--color-action-primary-inverted-active: #FFFFFF,
		--color-action-primary-inverted-disabled: #FFFFFF,
		--color-action-primary-inverted-hover: #FFFFFF,
		--color-action-primary-inverted: #FFFFFF,
		--color-action-secondary-active-lighten: #ECDBDB,
		--color-action-secondary-active: #874141,
		--color-action-secondary-default: #A14D4D,
		--color-action-secondary-disabled: #D0A6A6,
		--color-action-secondary-hover-lighten: #F6EDED,
		--color-action-secondary-hover: #944747,
		--color-action-secondary-inverted-active: #FFFFFF,
		--color-action-secondary-inverted-disabled: #FFFFFF,
		--color-action-secondary-inverted-hover: #FFFFFF,
		--color-action-secondary-inverted: #FFFFFF,
		--color-brand-primary-darken-1: #177272,
		--color-brand-primary-darken-2: #135D5D,
		--color-brand-primary-darken-3: #0E4444,
		--color-brand-primary-darken-4: #092F2F,
		--color-brand-primary-darken-5: #041515,
		--color-brand-primary-lighten-1: #419F9F,
		--color-brand-primary-lighten-2: #64AFAF,
		--color-brand-primary-lighten-3: #88C3C3,
		--color-brand-primary-lighten-4: #AAD4D4,
		--color-brand-primary-lighten-5: #D0E7E7,
		--color-brand-primary-lighten-6: #F5FAFA,
		--color-brand-primary: #1D8C8C,
		--color-brand-secondary-darken-1: #C18933,
		--color-brand-secondary-darken-2: #AD7A2E,
		--color-brand-secondary-darken-3: #956928,
		--color-brand-secondary-darken-4: #815B22,
		--color-brand-secondary-darken-5: #6D4D1D,
		--color-brand-secondary-lighten-1: #DDA95A,
		--color-brand-secondary-lighten-2: #E4B877,
		--color-brand-secondary-lighten-3: #EACA99,
		--color-brand-secondary-lighten-4: #F1D9B7,
		--color-brand-secondary-lighten-5: #F7EBD9,
		--color-brand-secondary-lighten-6: #FDFBF7,
		--color-brand-secondary: #D79839,
		--color-chart-1: #1D8C8C,
		--color-chart-2: #F7BFB6,
		--color-chart-3: #ACD5D5,
		--color-chart-4: #A14D4D,
		--color-chart-5: #0D3E64,
		--color-focus: var(--color-brand-primary-lighten-3),
		--color-neutral-0: #FFFFFF,
		--color-neutral-1: #F8F8F8,
		--color-neutral-10: #041515,
		--color-neutral-2: #DCDFDF,
		--color-neutral-3: #A6ACAC,
		--color-neutral-4: #A6ACAC,
		--color-neutral-5: #8B9393,
		--color-neutral-6: #707A7A,
		--color-neutral-7: #556161,
		--color-neutral-8: #3A4747,
		--color-neutral-9: #1F2E2E,
		--color-state-error-darken-1: #A6002D,
		--color-state-error-darken-2: #5F001A,
		--color-state-error-lighten-1: #F57396,
		--color-state-error-lighten-2: #FDE6EC,
		--color-state-error: #ED0040,
		--color-state-info-darken-1: #004981,
		--color-state-info-darken-2: #002A4A,
		--color-state-info-lighten-1: #73ACD8,
		--color-state-info-lighten-2: #E6F0F8,
		--color-state-info: #0068B8,
		--color-state-success-darken-1: #106D10,
		--color-state-success-darken-2: #093E09,
		--color-state-success-lighten-1: #7FC97F,
		--color-state-success-lighten-2: #E8F5E8,
		--color-state-success: #179C17,
		--color-state-warning-darken-1: #A64611,
		--color-state-warning-darken-2: #5F280A,
		--color-state-warning-lighten-1: #F5AA80,
		--color-state-warning-lighten-2: #FDF0E8,
		--color-state-warning: #ED6418,
		--color-state-neutral-darken-1: #707A7A,
		--color-state-neutral-darken-2: #556161,
		--color-state-neutral-lighten-1: #C1C6C6,
		--color-state-neutral-lighten-2: #DCDFDF,
		--color-state-neutral: #8B9393,
		--condensed-form-feedback-item-margin: 0,
		--condensed-form-input-background-color-disabled: var(--color-neutral-1),
		--condensed-form-input-background-color: var(--color-neutral-2),
		--condensed-form-input-filled-border-color: var(--color-neutral-5),
		--condensed-form-input-filled-label-color: var(--color-neutral-8),
		--condensed-form-input-filled-label-font-size: var(--text-paragraph-sm-font-size),
		--condensed-form-input-filled-label-font-weight: var(--font-weight-bolder),
		--condensed-form-input-label-color-disabled: var(--color-neutral-4),
		--condensed-form-input-label-color: var(--color-neutral-5),
		--condensed-form-input-label-font-size: var(--text-paragraph-font-size),
		--condensed-form-input-label-font-weight: var(--font-weight-bolder),
		--condensed-form-input-label-margin-x: 0.75rem,
		--condensed-form-input-label-padding-x: 0.25rem,
		--condensed-form-text-font-size: var(--text-paragraph-sm-font-size),
		--condensed-form-text-font-weight: var(--font-weight-normal),
		--container-max-lg: 960px,
		--container-max-md: 720px,
		--container-max-sm: 540px,
		--container-max-xl: 1248px,
		--custom-control-background-color: var(--color-neutral-0),
		--custom-control-border-color-disabled: var(--color-action-primary-disabled),
		--custom-control-border-color: var(--color-action-primary-default),
		--custom-control-color-hover: var(--color-action-primary-active-lighten),
		--custom-control-label-color: var(--form-input-label-color),
		--custom-control-label-font-size: var(--text-paragraph-sm-font-size),
		--custom-control-label-font-weight: var(--form-input-label-font-weight),
		--custom-control-label-line-height: var(--text-paragraph-sm-line-height),
		--custom-control-label-padding-left: 0.75rem,
		--display-line-height: 1.2,
		--display1-size: 6rem,
		--display1-weight: var(--font-weight-light),
		--display2-size: 5.5rem,
		--display2-weight: var(--font-weight-light),
		--display3-size: 3.0625rem,
		--display3-weight: var(--font-weight-light),
		--display4-size: 2.6875rem,
		--display4-weight: var(--font-weight-light),
		--elevation-fluffy-1: 0 5px 15px,
		--elevation-fluffy-2: 0 6.25px 20px,
		--elevation-fluffy-3: 0 10px 30px,
		--elevation-fluffy-4: 0 10px 35px,
		--elevation-fluffy-5: 0 15px 60px,
		--elevation-fluffy-6: 0 17.5px 70px,
		--elevation-fluffy-7: 0 35px 90px,
		--elevation-tight-1: 0 1px 3px,
		--elevation-tight-2: 0 1.25px 4px,
		--elevation-tight-3: 0 2px 6px,
		--elevation-tight-4: 0 2px 7px,
		--elevation-tight-5: 0 3px 12px,
		--elevation-tight-6: 0 3.5px 14px,
		--elevation-tight-7: 0 7px 18px,
		--elevation-tight-8: 0 12px 28px,
		--elevation-tight-9: 0 13px 36px,
		--font-family-base: ('Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'),
		--font-family-monospace: (SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace),
		--font-family-sans-serif: ('Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'),
		--font-size-base: var(--text-paragraph-font-size),
		--font-weight-bold: 700,
		--font-weight-bolder: 800,
		--font-weight-light: 300,
		--font-weight-lighter: lighter,
		--font-weight-normal: 400,
		--font-weight-semi-bold: 600,
		--form-feedback-item-border-radius: var(--border-radius),
		--form-feedback-item-font-size: var(--text-paragraph-sm-font-size),
		--form-feedback-item-font-weight: var(--font-weight-normal),
		--form-feedback-item-line-height: var(--text-paragraph-sm-line-height),
		--form-feedback-item-margin: 0.25rem 0 0,
		--form-feedback-item-padding: 0.375rem 1rem,
		--form-input-background-color: var(--color-neutral-0),
		--form-input-border-color-disabled: var(--color-neutral-2),
		--form-input-border-color: var(--color-neutral-5),
		--form-input-border-radius: var(--border-radius),
		--form-input-border-width: 0.0625rem,
		--form-input-color-disabled: var(--color-neutral-4),
		--form-input-color: var(--color-neutral-8),
		--form-input-font-size: var(--text-paragraph-font-size),
		--form-input-font-weight: var(--font-weight-normal),
		--form-input-label-color-disabled: var(--color-neutral-8),
		--form-input-label-color: var(--color-neutral-8),
		--form-input-label-font-size: var(--text-paragraph-font-size),
		--form-input-label-font-weight: var(--font-weight-bolder),
		--form-input-label-line-height: var(--text-paragraph-line-height),
		--form-input-label-margin-bottom: 0.25rem,
		--form-input-label-margin-left: 1rem,
		--form-input-label-margin-right: 1rem,
		--form-input-label-margin-top: 0.25rem,
		--form-input-label-reference-mark-color: var(--color-state-error),
		--form-input-line-height: var(--text-paragraph-line-height),
		--form-input-padding-x: 1rem,
		--form-input-padding-y: 0.6875rem,
		--form-input-placeholder-color-disabled: var(--color-neutral-3),
		--form-input-placeholder-color-focus: var(--color-neutral-4),
		--form-input-placeholder-color: var(--color-neutral-4),
		--form-input-placeholder-font-size: var(--text-paragraph-font-size),
		--form-input-placeholder-font-weight: var(--font-weight-normal),
		--form-input-placeholder-line-height: var(--text-paragraph-line-height),
		--form-text-color: var(--color-neutral-7),
		--form-text-font-size: var(--text-paragraph-sm-font-size),
		--form-text-font-weight: var(--font-weight-light),
		--form-text-line-height: var(--text-paragraph-sm-line-height),
		--form-text-margin: 0.25rem 1rem 0,
		--h1-font-size: 2.3125rem,
		--h1-font-size-mobile: 2rem,
		--h1-font-size-tablet: 2.125rem,
		--h1-font-weight: var(--font-weight-bold),
		--h2-font-size: 2rem,
		--h2-font-size-mobile: 1.8125rem,
		--h2-font-size-tablet: 1.875rem,
		--h2-font-weight: var(--h1-font-weight),
		--h3-font-size: 1.75rem,
		--h3-font-size-mobile: 1.625rem,
		--h3-font-size-tablet: 1.625rem,
		--h3-font-weight: var(--h1-font-weight),
		--h4-font-size: 1.5rem,
		--h4-font-size-mobile: 1.4375rem,
		--h4-font-size-tablet: 1.4375rem,
		--h4-font-weight: var(--h1-font-weight),
		--h5-font-size: 1.125rem,
		--h5-font-size-mobile: 1.125rem,
		--h5-font-size-tablet: 1.125rem,
		--h5-font-weight: var(--h1-font-weight),
		--h6-font-size: 0.875rem,
		--h6-font-size-mobile: 0.875rem,
		--h6-font-size-tablet: 0.875rem,
		--h6-font-weight: var(--h1-font-weight),
		--h1-line-height: 2.5rem,
		--h1-line-height-mobile: 2.25rem,
		--h1-line-height-tablet: 2.5rem,
		--h2-line-height: 2.5rem,
		--h2-line-height-mobile: 2rem,
		--h2-line-height-tablet: 2rem,
		--h3-line-height: 2rem,
		--h3-line-height-mobile: 2rem,
		--h3-line-height-tablet: 1.75rem,
		--h4-line-height: 1.75rem,
		--h4-line-height-mobile: 1.5rem,
		--h4-line-height-tablet: 1.75rem,
		--h5-line-height: 1.25rem,
		--h5-line-height-mobile: 1.25rem,
		--h5-line-height-tablet: 1.25rem,
		--h6-line-height: 1rem,
		--h6-line-height-mobile: 1rem,
		--h6-line-height-tablet: 1rem,		
		// --headings-line-height: 1.2,
		--hr-border-color: rgba(0, 0, 0, .1),
		--hr-border-margin-y: 1rem,
		--hr-border-width: 1px,
		--label-item-spacer-x: 0.375rem,
		--label-lg-border-radius: var(--border-radius-xs),
		--label-lg-font-size: var(--text-paragraph-sm-font-size),
		--label-lg-font-weight: var(--font-weight-bolder),
		--label-lg-icon-size: 0.875rem,
		--label-lg-line-height: var(--text-paragraph-sm-line-height),
		--label-lg-padding-x: var(--spacer-2),
		--label-lg-padding-y: 0.125rem,
		--label-sm-border-radius: var(--border-radius-xs),
		--label-sm-font-size: var(--text-paragraph-xs-font-size),
		--label-sm-font-weight: var(--font-weight-bolder),
		--label-sm-icon-size: 0.75rem,
		--label-sm-line-height: 1rem,
		--label-sm-padding-x: var(--spacer-1),
		--label-sm-padding-y: 0.0625rem,
		--lead-font-size: 1.25rem,
		--lead-font-weight: var(--font-weight-light),
		--link-color: var(--color-action-primary-default),
		--link-hover-color: var(--color-action-primary-hover),
		--link-hover-text-decoration: underline,
		--link-text-decoration: none,
		--link-visited-color: #5E38BA,
		--link-visited-text-decoration: none,
		--marked-text-background-color: var(--color-brand-secondary-lighten-5),
		--nav-link-horizontal-active-indicator-length: 100%,
		--nav-link-horizontal-active-indicator-thickness: 0.125rem,
		--nav-link-horizontal-margin: 0 1rem,
		--nav-link-vertical-active-indicator-length: 100%,
		--nav-link-vertical-active-indicator-thickness: 0.25rem,
		--nav-link-vertical-margin: 1rem 0,
		--spacer-0: 0,
		--spacer-10: 6rem,
		--spacer-11: 7.5rem,
		--spacer-12: 9rem,
		--spacer-13: 10rem,
		--spacer-1: 0.25rem,
		--spacer-2: 0.5rem,
		--spacer-3: 1rem,
		--spacer-4: 1.25rem,
		--spacer-5: 1.5rem,
		--spacer-6: 2rem,
		--spacer-7: 3rem,
		--spacer-8: 4.5rem,
		--spacer-9: 5rem,
		--tab-primary-horizontal-item-active-bar-width: auto,
		--tab-primary-horizontal-item-border-bottom-width: 0.03125rem,
		--tab-primary-horizontal-item-border-left-width: 0,
		--tab-primary-horizontal-item-border-right-width: 0,
		--tab-primary-horizontal-item-border-top-width: 0,
		--tab-primary-horizontal-item-padding-x: var(--spacer-3),
		--tab-primary-horizontal-item-padding-y: var(--spacer-3),
		--tab-primary-item-active-bar-border-radius: 0.0625rem,
		--tab-primary-item-active-bar-color-active: var(--color-brand-primary),
		--tab-primary-item-active-bar-color-hover: var(--color-brand-primary-darken-1),
		--tab-primary-item-active-bar-thickness: 0.1875rem,
		--tab-primary-item-background-color-active: var(--tab-primary-item-background-color),
		--tab-primary-item-background-color-disabled: var(--tab-primary-item-background-color),
		--tab-primary-item-background-color-hover: var(--tab-primary-item-background-color),
		--tab-primary-item-background-color: transparent,
		--tab-primary-item-border-color-active: var(--tab-primary-item-border-color),
		--tab-primary-item-border-color-hover: var(--tab-primary-item-border-color),
		--tab-primary-item-border-color: var(--color-neutral-3),
		--tab-primary-item-border-radius: 0,
		--tab-primary-item-box-shadow-active: none,
		--tab-primary-item-box-shadow-hover: none,
		--tab-primary-item-color-active: var(--color-action-primary-default),
		--tab-primary-item-color-disabled: var(--color-action-neutral-disabled),
		--tab-primary-item-color-hover: var(--color-action-primary-hover),
		--tab-primary-item-color: var(--color-neutral-7),
		--tab-primary-item-font-size: var(--text-paragraph-font-size),
		--tab-primary-item-font-weight-active: var(--tab-primary-item-font-weight),
		--tab-primary-item-font-weight: var(--font-weight-bold),
		--tab-primary-item-icon-color-active: var(--color-action-primary-default),
		--tab-primary-item-icon-color-disabled: var(--color-action-neutral-disabled),
		--tab-primary-item-icon-color-hover: var(--color-action-primary-hover),
		--tab-primary-item-icon-color: var(--color-neutral-7),
		--tab-primary-item-icon-font-size: var(--text-paragraph-font-size),
		--tab-primary-item-inline-item-spacer-x: var(--spacer-3),
		--tab-primary-item-inline-item-spacer-y: var(--spacer-3),
		--tab-primary-item-line-height: var(--text-paragraph-line-height),
		--tab-primary-vertical-item-active-bar-height: auto,
		--tab-primary-vertical-item-border-bottom-width: 0,
		--tab-primary-vertical-item-border-left-width: 0.0625rem,
		--tab-primary-vertical-item-border-right-width: 0,
		--tab-primary-vertical-item-border-top-width: 0,
		--tab-primary-vertical-item-padding-x: var(--spacer-3),
		--tab-primary-vertical-item-padding-y: var(--spacer-3),
		--tab-secondary-horizontal-item-active-bar-width: auto,
		--tab-secondary-horizontal-item-border-bottom-width: 0.0625rem,
		--tab-secondary-horizontal-item-border-left-width: 0.0625rem,
		--tab-secondary-horizontal-item-border-right-width: 0.0625rem,
		--tab-secondary-horizontal-item-border-top-width: 0.0625rem,
		--tab-secondary-horizontal-item-padding-x: var(--spacer-3),
		--tab-secondary-horizontal-item-padding-y: var(--spacer-3),
		--tab-secondary-item-active-bar-border-radius: 0.0625rem,
		--tab-secondary-item-active-bar-color-active: var(--color-action-primary-default),
		--tab-secondary-item-active-bar-color-hover: var(--color-action-primary-default),
		--tab-secondary-item-active-bar-thickness: 0.1875rem,
		--tab-secondary-item-background-color-active: var(--color-neutral-0),
		--tab-secondary-item-background-color-disabled: var(--tab-secondary-item-background-color),
		--tab-secondary-item-background-color-hover: var(--tab-secondary-item-background-color),
		--tab-secondary-item-background-color: var(--color-neutral-1),
		--tab-secondary-item-border-color-active: var(--tab-secondary-item-border-color),
		--tab-secondary-item-border-color-hover: var(--tab-secondary-item-border-color),
		--tab-secondary-item-border-color: var(--color-neutral-3),
		--tab-secondary-item-border-radius: 0,
		--tab-secondary-item-box-shadow-active: none,
		--tab-secondary-item-box-shadow-hover: none,
		--tab-secondary-item-color-active: var(--color-neutral-10),
		--tab-secondary-item-color-disabled: var(--color-action-neutral-disabled),
		--tab-secondary-item-color-hover: var(--color-neutral-10),
		--tab-secondary-item-color: var(--color-neutral-8),
		--tab-secondary-item-font-size: var(--text-paragraph-font-size),
		--tab-secondary-item-font-weight-active: var(--font-weight-bold),
		--tab-secondary-item-font-weight: var(--font-weight-normal),
		--tab-secondary-item-icon-color-active: var(--tab-secondary-item-icon-color),
		--tab-secondary-item-icon-color-disabled: var(--color-action-neutral-disabled),
		--tab-secondary-item-icon-color-hover: var(--tab-secondary-item-icon-color),
		--tab-secondary-item-icon-color: var(--color-neutral-7),
		--tab-secondary-item-icon-font-size: var(--text-paragraph-font-size),
		--tab-secondary-item-inline-item-spacer-x: var(--spacer-2),
		--tab-secondary-item-inline-item-spacer-y: var(--spacer-2),
		--tab-secondary-item-line-height: var(--text-paragraph-line-height),
		--tab-secondary-vertical-item-active-bar-height: auto,
		--tab-secondary-vertical-item-border-bottom-width: 0.0625rem,
		--tab-secondary-vertical-item-border-left-width: 0.0625rem,
		--tab-secondary-vertical-item-border-right-width: 0.0625rem,
		--tab-secondary-vertical-item-border-top-width: 0.0625rem,
		--tab-secondary-vertical-item-padding-x: var(--spacer-3),
		--tab-secondary-vertical-item-padding-y: var(--spacer-3),
		--tab-segment-background-color: var(--color-neutral-1),
		--tab-segment-border-color: var(--color-neutral-3),
		--tab-segment-border-radius: var(--border-radius-pill),
		--tab-segment-border-width: 0.0625rem,
		--tab-segment-item-background-color-active: var(--color-action-primary-active),
		--tab-segment-item-background-color-disabled: var(--tab-segment-item-background-color),
		--tab-segment-item-background-color-hover: var(--tab-segment-item-background-color),
		--tab-segment-item-background-color: transparent,
		--tab-segment-item-border-color-active: var(--tab-segment-item-border-color),
		--tab-segment-item-border-color-disabled: var(--tab-segment-item-border-color),
		--tab-segment-item-border-color-hover: var(--tab-segment-item-border-color),
		--tab-segment-item-border-color: transparent,
		--tab-segment-item-border-radius: var(--border-radius-pill),
		--tab-segment-item-border-width: 0,
		--tab-segment-item-box-shadow-active: var(--elevation-tight-2) rgba(89, 36, 235, 0.25),
		--tab-segment-item-box-shadow-hover: none,
		--tab-segment-item-color-active: var(--color-action-primary-inverted),
		--tab-segment-item-color-disabled: var(--color-action-neutral-disabled),
		--tab-segment-item-color-hover: var(--color-action-primary-active),
		--tab-segment-item-color: var(--color-neutral-6),
		--tab-segment-item-font-size: var(--text-link-small-font-size),
		--tab-segment-item-font-weight-active: var(--tab-segment-item-font-weight),
		--tab-segment-item-font-weight: var(--font-weight-bold),
		--tab-segment-item-icon-color-active: var(--tab-segment-item-color-active),
		--tab-segment-item-icon-color-disabled: var(--tab-segment-item-color-disabled),
		--tab-segment-item-icon-color-hover: var(--tab-segment-item-color-hover),
		--tab-segment-item-icon-color: var(--tab-segment-item-color),
		--tab-segment-item-icon-font-size: var(--text-paragraph-font-size),
		--tab-segment-item-inline-item-spacer-x: var(--spacer-3),
		--tab-segment-item-inline-item-spacer-y: var(--spacer-3),
		--tab-segment-item-line-height: var(--text-link-small-line-height),
		--tab-segment-item-padding-x: 0.375rem,
		--tab-segment-item-padding-y: var(--spacer-3),
		--tab-segment-padding-x: var(--spacer-1),
		--tab-segment-padding-y: var(--spacer-1),
		--tab-tertiary-horizontal-item-active-bar-width: auto,
		--tab-tertiary-horizontal-item-border-bottom-width: 0.0625rem,
		--tab-tertiary-horizontal-item-border-left-width: 0,
		--tab-tertiary-horizontal-item-border-right-width: 0,
		--tab-tertiary-horizontal-item-border-top-width: 0,
		--tab-tertiary-horizontal-item-padding-x: var(--spacer-3),
		--tab-tertiary-horizontal-item-padding-y: var(--spacer-3),
		--tab-tertiary-item-active-bar-border-radius: 0.0625rem,
		--tab-tertiary-item-active-bar-color-active: var(--color-action-primary-default),
		--tab-tertiary-item-active-bar-color-hover: var(--color-action-primary-hover),
		--tab-tertiary-item-active-bar-thickness: 0.1875rem,
		--tab-tertiary-item-background-color-active: var(--tab-tertiary-item-background-color),
		--tab-tertiary-item-background-color-disabled: var(--tab-tertiary-item-background-color),
		--tab-tertiary-item-background-color-hover: var(--tab-tertiary-item-background-color),
		--tab-tertiary-item-background-color: var(--color-neutral-0),
		--tab-tertiary-item-border-color-active: transparent,
		--tab-tertiary-item-border-color-hover: var(--tab-tertiary-item-border-color),
		--tab-tertiary-item-border-color: var(--color-neutral-3),
		--tab-tertiary-item-border-radius: 0,
		--tab-tertiary-item-box-shadow-active: var(--elevation-fluffy-2) rgba(77, 133, 255, 0.1),
		--tab-tertiary-item-box-shadow-hover: none,
		--tab-tertiary-item-color-active: var(--tab-tertiary-item-color),
		--tab-tertiary-item-color-disabled: var(--color-action-neutral-disabled),
		--tab-tertiary-item-color-hover: var(--tab-tertiary-item-color),
		--tab-tertiary-item-color: var(--color-neutral-8),
		--tab-tertiary-item-font-size: var(--text-paragraph-font-size),
		--tab-tertiary-item-font-weight-active: var(--font-weight-bolder),
		--tab-tertiary-item-font-weight: var(--font-weight-normal),
		--tab-tertiary-item-icon-color-active: var(--tab-tertiary-item-icon-color),
		--tab-tertiary-item-icon-color-disabled: var(--color-action-neutral-disabled),
		--tab-tertiary-item-icon-color-hover: var(--tab-tertiary-item-icon-color),
		--tab-tertiary-item-icon-color: var(--color-neutral-7),
		--tab-tertiary-item-icon-font-size: var(--text-paragraph-font-size),
		--tab-tertiary-item-inline-item-spacer-x: var(--spacer-2),
		--tab-tertiary-item-inline-item-spacer-y: var(--spacer-2),
		--tab-tertiary-item-line-height: var(--text-paragraph-line-height),
		--tab-tertiary-vertical-item-active-bar-height: auto,
		--tab-tertiary-vertical-item-border-bottom-width: 0.0625rem,
		--tab-tertiary-vertical-item-border-left-width: 0,
		--tab-tertiary-vertical-item-border-right-width: 0,
		--tab-tertiary-vertical-item-border-top-width: 0,
		--tab-tertiary-vertical-item-padding-x: var(--spacer-3),
		--tab-tertiary-vertical-item-padding-y: var(--spacer-3),
		--table-border-color: var(--color-neutral-3),
		--table-border-radius: var(--border-radius),
		--table-border-width: 0.0625rem,
		--table-box-shadow: none,
		--table-cell-min-height: 3.5rem,
		--table-cell-padding-x: var(--spacer-3),
		--table-cell-padding-y: var(--spacer-3),
		--table-color: var(--color-neutral-10),
		--table-font-size: var(--text-paragraph-font-size),
		--table-font-weight: var(--font-weight-normal),
		--table-header-background-color: var(--color-neutral-0),
		--table-header-cell-min-height: 3.5rem,
		--table-header-cell-padding-x: var(--spacer-3),
		--table-header-cell-padding-y: var(--spacer-3),
		--table-header-color: var(--color-neutral-8),
		--table-header-font-size: var(--table-font-size),
		--table-header-font-weight: var(--font-weight-semi-bold),
		--table-header-line-height: var(--text-paragraph-line-height),
		--table-header-vertical-align: middle,
		--table-image-max-height: 100px,
		--table-lg-cell-min-height: 4.5625rem,
		--table-lg-cell-padding-x: var(--spacer-5),
		--table-lg-cell-padding-y: var(--spacer-5),
		--table-lg-font-size: var(--text-paragraph-font-size),
		--table-lg-font-weight: var(--font-weight-normal),
		--table-lg-header-cell-min-height: 4.5625rem,
		--table-lg-header-cell-padding-x: var(--spacer-5),
		--table-lg-header-cell-padding-y: var(--spacer-5),
		--table-lg-header-font-size: var(--text-paragraph-font-size),
		--table-lg-header-font-weight: var(--font-weight-semi-bold),
		--table-lg-header-line-height: var(--text-paragraph-line-height),
		--table-lg-line-height: var(--text-paragraph-line-height),
		--table-line-height: var(--text-paragraph-line-height),
		--table-row-background-color-active: var(--color-action-primary-active-lighten),
		--table-row-background-color-alternate: var(--color-neutral-1),
		--table-row-background-color-hover: var(--color-action-primary-hover-lighten),
		--table-row-background-color: var(--color-neutral-0),
		--table-row-color-hover: var(--table-row-color),
		--table-sm-cell-min-height: 2.5625rem,
		--table-sm-cell-padding-x: var(--spacer-2),
		--table-sm-cell-padding-y: var(--spacer-2),
		--table-sm-font-size: var(--text-paragraph-font-size),
		--table-sm-font-weight: var(--font-weight-normal),
		--table-sm-header-cell-min-height: 2.5625rem,
		--table-sm-header-cell-padding-x: var(--spacer-2),
		--table-sm-header-cell-padding-y: var(--spacer-2),
		--table-sm-header-font-size: var(--text-paragraph-font-size),
		--table-sm-header-font-weight: var(--font-weight-semi-bold),
		--table-sm-header-line-height: var(--text-paragraph-line-height),
		--table-sm-line-height: var(--text-paragraph-line-height),
		--table-spaced-row-border-color: var(--color-neutral-3),
		--table-spaced-row-border-radius: var(--border-radius),
		--table-spaced-row-border-spacing: var(--spacer-2),
		--table-spaced-row-border-width: 0,
		--table-spaced-row-box-shadow: none,
		--table-title-color: var(--color-neutral-9),
		--table-title-font-size: var(--text-small-caps-font-size),
		--table-title-font-weight: var(--font-weight-semi-bold),
		--table-title-line-height: var(--text-paragraph-line-height),
		--table-title-link-color-hover: var(--link-hover-color),
		--table-title-link-color: var(--link-color),
		--table-title-link-text-decoration-hover: var(--link-text-decoration-hover),
		--table-title-link-text-decoration: var(--link-text-decoration),
		--text-link-lg-font-size: 1.25rem,
		--text-link-lg-line-height: 1.5rem,
		--text-link-md-font-size: 1rem,
		--text-link-md-line-height: 1.5rem,
		--text-link-sm-font-size: 0.875rem,
		--text-link-sm-line-height: 1rem,
		--text-link-xs-font-size: 0.5625rem,
		--text-link-xs-line-height: 0.75rem,
		--text-muted: var(--color-neutral-4),
		--text-paragraph-font-size: 1rem,
		--text-paragraph-lg-font-size: 1.3125rem,
		--text-paragraph-lg-font-size-mobile: 1.25rem,
		--text-paragraph-lg-line-height: 2rem,
		--text-paragraph-lg-line-height-mobile: 1.75rem,
		--text-paragraph-line-height: 1.5rem,
		--text-paragraph-sm-font-size: 0.8125rem,
		--text-paragraph-sm-line-height: 1rem,
		--text-paragraph-xs-font-size: 0.6875rem,
		--text-paragraph-xs-line-height: 1rem,
		--text-paragraph-xs-line-height-heavy: 1.25rem,
		--text-paragraph-xxs-font-size: 0.5625rem,
		--text-paragraph-xxs-line-height: 0.75rem,
		--text-small-caps-font-size: 0.875rem,
		--text-small-caps-letter-spacing: 0.04375rem,
		--text-small-caps-letter-spacing-light: 0.0525rem,
		--text-small-caps-line-height: 1.25rem,
		--transition-base: 0.2s ease-in-out,
		--transition-collapse: 0.35s ease,
		--transition-fade: 0.15s linear
	),
	$dialect-custom-properties
);