$multi-step-divider-active-bg: var(--color-action-primary-default);
$multi-step-icon-active-bg: var(--color-action-primary-default);
$multi-step-icon-active-color: var(--color-action-primary-inverted);
$multi-step-icon-border-radius: $rounded-circle-border-radius;
$multi-step-icon-complete-color: #fff;
$multi-step-icon-font-size: var(--text-paragraph-font-size);
$multi-step-title-font-size: var(--text-paragraph-font-size);
