@mixin color-variant($class-suffix, $color) {
	.bg-#{$class-suffix} {
		background-color: $color !important;
	}

	.border-#{$class-suffix} {
		border-color: $color !important;
	}

	.text-#{$class-suffix} {
		color: $color !important;
	}
}
